<div class="container">
  <h1 class="text-dark py-3">Posts</h1>

  <% @posts.each do |post| %>
    <div class="border rounded p-0 mb-3">
        <div class="p-3">
          <div class="p-3 bg-light">
            <p class="mb-0 h3 text-dark"><%= link_to post.title, post_path(post), class: "no-link text-dark" %></p>
          </div>
          <div class=" border-top p-3">
            <p class="mb-0 text-dark"><%= post.content %></p>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="px-3">
            <p class="bg-light border-top rounded py-3"><small class="px-3 text-secondary">Posted by:</small><%= post.user.name %></p>
          </div>

          <% if post.user.id == current_user.id %>
            <div class="mb-3 ml-3">
              <%= link_to post, method: :delete, data: { confirm: "Are you sure??" } do %>
                <i class="fas fa-trash-alt text-dark"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
