// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-logo-edit:hover,
.no-link:hover {
  text-decoration: none;
}

body {
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
    h2 {
      text-transform: capitalize;
      font-size: 2.5em;
      margin: 1em 0;
    }
    .button_to {
      border: 0;
      padding: 0;
    }
    form {
     border: 2px solid #343a40;
     padding: 2em;
     font-size: 1.4em;
     margin-bottom: 1em;
     max-width: 30%;

     label {
       margin: 1em 0;
     }

     input {
      width: 100%;
          }
    input.remember_me {
      width: auto;
    }
     .actions {
       display: flex;
       justify-content: center;
       margin: 1em auto;

       input {
         border: 1px solid #343a40;
         font-size: 1em;
       }
     }
     .cancel-account {
       border: 1px solid red;
     }
   }
}
