// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  
  .body {
   border: 1px solid red;
   width: 95%;
   margin: auto;
   padding: 1em;
  }
}
